@media screen and (max-width: 600px) {
    header{
        width: 100vw;
       
    }
    
    header nav {
        flex-direction: column;
        gap: 12px;
    }

    header nav ul li {
        display: block;
        margin-bottom: 12px;
    }

    ..team-description-wrapper, .about-us{
        margin-left: auto;
        margin-right: auto;
    }

    .team-description ul{
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .team-description ul li{
        width: 40%;
        object-fit: cover;   
        aspect-ratio: 1/1;  
    }

    .team-description ul li img{
        width: 100%;   
    }

    .choose-us ul{
        flex-direction: column;
    }

    .choose-us {
        padding: 2.5rem 7.5rem;
      }

    .blog-list {
        width: 75%;
        flex-direction: column;
       margin-left: auto;
       margin-right: auto;
        gap: 24px;
    }

    .blog-news .content{
        font-size: 12px;
    }

   
}